<%- include("partials/header.ejs") %>
  <h1>These people don't exist.</h1>
  <table>
    <tr>
      <th>Picture</th>
      <th>Name</th>
      <th>Age</th>
    </tr>
    <% for (let person of people) { %>
      <tr>
        <td><img src="<%= person.profile_picture %>" width="50"/></td>
        <td><a href="/person/<%= person.id %>"><%= person.name %></a></td>
        <td><%= person.age %></td>
      </tr>
    <% } %>
  </table>
<%- include("partials/footer.ejs") %>